.home-container {
    max-width: 1400px;
    min-height: 100vh;
    padding: 0px 10px;
    margin: 0px auto;
}

.tab-container {
    padding: 5px 0px;
    min-height: 100vh;
}

.tab-list-wrapper {
    display: flex;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    border-bottom: 0.5px solid rgb(205, 205, 205);
}

.tab {
    font-weight: 600;
    padding: 5px 5px 7px 5px;
    color: rgb(117, 117, 117);
    border-bottom: 2px solid transparent;
}

.tab.active {
    font-weight: 600;
    border-bottom: 2px solid black;
    color: black;
}

.tab-panel-container {
    padding: 35px 0px 25px 0px;
}

/* Home search */
.home-search-wrapper {
    display: flex;
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.home-search-input {
    flex: 1;
    padding: 13px 8px;
    border-radius: 6px;
    color: rgb(49, 49, 49);
    border: 0.5px solid rgb(176, 175, 175);
}

.home-search-input::placeholder {
    font-size: 12.5px;
    color: rgb(149, 149, 149);
}

.home-search-submit {
    padding: 13px 35px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(40, 39, 39);
}

.gif-list-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em 0;
}

.video-player-wrapper {
    flex: 0.5 1 auto;
}

.video {
    height: 25vh;
    width: 100%;
    object-fit: cover;
}
