.home-container {
    max-width: 1400px;
    min-height: 100vh;
    padding: 0px 10px;
    margin: 0px auto;
}

.tab-container {
    padding: 5px 0px;
    min-height: 100vh;
}

.tab-list-wrapper {
    display: flex;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    border-bottom: 0.5px solid rgb(205, 205, 205);
}

.tab {
    font-weight: 600;
    padding: 5px 5px 7px 5px;
    color: rgb(117, 117, 117);
    border-bottom: 2px solid transparent;
}

.tab.active {
    font-weight: 600;
    border-bottom: 2px solid black;
    color: black;
}

.tab-panel-container {
    padding: 35px 0px 25px 0px;
}

/* Home search */
.home-search-wrapper {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.home-search-input {
    flex: 1;
    padding: 13px 8px;
    border-radius: 6px;
    color: rgb(49, 49, 49);
    border: 0.5px solid rgb(176, 175, 175);
}

.home-search-input::placeholder {
    font-size: 12.5px;
    color: rgb(149, 149, 149);
}

.home-search-submit {
    padding: 13px 35px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(40, 39, 39);
}

.gif-list-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em 0;
}

.gif-list-loaded-container {
    margin: 15px 0px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.grid-item {
    flex: 1 1 auto;
    z-index: 1;
    width: 200px;
    height: 200px;
    position: relative;
}

.grid-item .video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    transition: 0.6s all ease-in-out;
}

.video-controller-container {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.grid-item:hover {
    z-index: 10;
}

.grid-item:hover .video-controller-container {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
}

.video-controller-icon-wrapper {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: black;
    cursor: pointer;
}

.video-controller-icon-wrapper .icon {
    color: white;
    width: 11px;
    height: 11px;
}

.gif-load-more-btn {
    margin: 15px auto;
    display: block;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: rgb(40, 39, 39);
}

.gif-load-more-btn:disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: grey;
}

.gif-modal {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}

.gif-modal .video {
    width: 420px;
    height: 420px;
}

.video-controller-container {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

.skeleton-box {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #cbcbcb;
}

.skeleton-box.video {
    width: 100%;
    height: 100%;
}

.gif-empty-message-container {
    margin: 35px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gif-empty-message-container .image {
    width: 350px;
    height: 350px;
}

.gif-empty-message-container .message {
    font-size: 15px;
    padding: 15px 0px;
}

.skeleton-box::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(141, 139, 139, 0.2), transparent);
    animation: loading 0.8s infinite;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

@media screen and (max-width: 480px) {
    .gif-empty-message-container .image {
        width: 100%;
        height: 100%;
    }
}
