.home-container {
    max-width: 1400px;
    min-height: 100vh;
    margin: 0px auto;
}

.tab-container {
    padding: 5px 0px;
    min-height: 100vh;
}

.tab-list-wrapper {
    display: flex;
    gap: 25px;
    cursor: pointer;
    align-items: center;
    border-bottom: 0.5px solid rgb(205, 205, 205);
}

.tab {
    font-weight: 600;
    padding: 5px 0px 7px 0px;
    color: rgb(117, 117, 117);
    border-bottom: 2px solid transparent;
}

.tab.active {
    font-weight: 600;
    border-bottom: 2px solid black;
    color: black;
}
